<html>
	<head> 
		<title>Hello World Page</title> 
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8"> 
		<!-- Confluence Headerの挿入 --> 
		<meta name="decorator" content="atl.general"> 
	</head> 
	<body> 
		<h1>Hello World</h1> 
		<h2>初めてのConfluence Plugin開発</h2> 
	</body> 
</html>